:root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

* {
	box-sizing: border-box;
}

html {scroll-behavior: smooth;
}

body {
	font-family: Montserrat;
    line-height: 1.4;
    background-color:  #f3f3f3;
}

/* MENU */
.nave a {
    color: white;
    font-weight: bold;
}
.navbar {
	padding: 0;
}

.nave {
    font-size: 18px;
    margin-bottom: 50px;
}

h2 {
	display: flex;
	justify-content: center;
	text-decoration: underline;
	margin-bottom: 2rem;
	font-weight: bold;
}

#logo {
	margin-top: 100px;
}
.logoRs {
    margin-left: 212px;
}
/* MODELOS */
.grids {
	display: grid;
	grid-gap: 10px;
    margin-top: 150px;
}

#modelos { 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: 
        "titulo titulo"
        "modeloNegro modeloRojo";
}

.item.i {
    margin-left: 102px;
    grid-area: titulo;
}

.item.j {
    grid-area: modeloNegro;
    margin-left: 80px;
}

.item.k {
    grid-area: modeloRojo;
    margin-left: 80px; 
}
@media (max-width: 976px) { 
    #modelos {
        margin-top: 120px;
        }
    
    .container {
        margin-left: 0;
    }
    .logoRs {
        margin-left: 137px;
    }
    .item.i {
        margin-left: -66px;
    }
    .item.j {
        margin-left: 0;
    }
   .item.f {
       margin-left: 100px;
   }
   .item.f>h2 {
       margin-left: 72px;
   }
   #descripcion {
       margin-left: 60px;
   }
   .carru {
       margin-left: 52px;
   }
   #detalles {
       margin-left: 80px;
   }
   .deTitulo {
       margin-left: 70px;
   }
   .futon {
       margin-left: 80px;
   }
}

@media (max-width: 576px) {
    #modelos {
        margin-top: 120px;
        }
    
    .container {
        margin-left: 0;
    }
    .logoRs {
        margin-left: 62px;
    }
    .item.i {
        margin-left: 0;
        margin-left: -46px;
    }
    .item.j {
        margin-left: 0;
    }
   .item.f {
       margin-left: 100px;
   }
   #descripcion {
       margin-left: 45px;
   }
   .carru {
       margin-left: 52px;
   }
   #detalles {
       margin-left: 80px;
   }
   .futon {
       margin-left: 80px;
   }
}


.imgModel {
	display: flex;
	justify-content: center;
}

.buttonaso {
     color: green;
}

.buttonaso:hover {
            color: white;
}

/* DESCRIPCION */
p {
	font-family: Raleway;
}

// .carousel {
//   height: 550px;
//   width: 550px;
// }

.carousel-inner {
    height: 773px;
}

.grido {
    display: grid;
    grid-gap: 10px;
    margin-top: 3rem;
}

#descripcion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: 
        "titulo titulo"
        "formulario mapa";

    .item.f {
    grid-area: titulo;
    margin-top: 100px;}

    .item.g {
    grid-area: formulario;}

    .item.h {
    grid-area: mapa;}
    }

/* DETALLE */
.detalles {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.vidio {
	width: 776px;
}

.wido {
    width: 2%;
    opacity: 1;
}
.widow {
    width: 5%;
    opacity: 1;
}

/* CONTACTO - NEWSLETTER - FOOTER */
.grid {
	display: grid;
	grid-gap: 10px;
    margin-top: 150px;
}

#contacto { 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: 
        "titulo titulo"
        "formulario mapa"
        "newsletter newsletter"
        "footer footer";

    .item.a {
    text-align: center; 
    grid-area: titulo; }

    .item.b {
    grid-area: formulario;
    padding: 39px; }

    .item.c {
    grid-area: mapa; 
    padding: 0; 
    text-align: center; }

    .item.d {
    grid-area: newsletter; 
    text-align: center;
    margin-top: 100px; }

    .item.e {
    grid-area: footer; 
    text-align: center;
    margin-top: 100px; } 
}