:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Montserrat;
  line-height: 1.4;
  background-color: #f3f3f3;
  max-width: 1300px;
  margin: auto; }

/* MENU */
.nave a {
  color: white;
  font-weight: bold; }

.navbar {
  padding: 0; }

.nave {
  font-size: 18px;
  margin-bottom: 50px; }

h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 2rem;
  font-weight: bold; }

#logo {
  margin-top: 100px; }

.logoRs {
  margin-left: auto; }

/* MODELOS */
.grids {
  display: grid;
  grid-gap: 10px;
  margin-top: 150px; }

#modelos {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 500px 120px;
  grid-auto-rows: 200px;
  grid-template-areas: "titulo titulo" "modeloNegro modeloRojo"; }

#modelos {
  margin-left: 71px; }

.item.i {
  margin-left: 30px;
  grid-area: titulo; }

.item.j {
  grid-area: modeloNegro;
  margin-left: 40px; }

.item.k {
  grid-area: modeloRojo;
  margin-left: 80px; }

.imgModel {
  display: flex;
  justify-content: center; }

.buttonaso {
  color: green; }

.buttonaso:hover {
  color: white; }

/* DESCRIPCION */
p {
  font-family: Raleway; }

.grido {
  display: grid;
  grid-gap: 10px;
  margin-top: 3rem; }

#descripcion {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 500px 120px;
  grid-auto-rows: 200px;
  grid-template-areas: "titulo titulo" "formulario mapa"; }
  #descripcion .item.f {
    grid-area: titulo;
    margin-top: 100px; }
  #descripcion .item.g {
    grid-area: formulario; }
  #descripcion .item.h {
    grid-area: mapa; }

/* DETALLE */
#detalles {
  margin-top: 3rem; }

.vidio {
  width: 776px; }

.wido {
  width: 2%;
  opacity: 1; }

.widow {
  width: 5%;
  opacity: 1; }

/* CONTACTO - NEWSLETTER - FOOTER */
.grid {
  display: grid;
  grid-gap: 10px;
  margin-top: 150px; }

#contacto {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 500px 120px;
  grid-auto-rows: 200px;
  grid-template-areas: "titulo titulo" "formulario mapa" "newsletter newsletter" "footer footer"; }
  #contacto .item.a {
    text-align: center;
    grid-area: titulo; }
  #contacto .item.b {
    grid-area: formulario;
    padding: 39px; }
  #contacto .item.c {
    grid-area: mapa;
    padding: 0;
    text-align: center; }
  #contacto .item.d {
    grid-area: newsletter;
    text-align: center;
    margin-top: 100px; }
  #contacto .item.e {
    grid-area: footer;
    text-align: center;
    margin-top: 100px; }

@media (max-width: 1000px) {
  #modelos {
    margin-left: -62px; } }

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
    margin: auto; }
  .logoRs {
    margin: auto; }
  #modelos {
    margin-left: -26px; } }

@media (max-width: 976px) {
  body {
    max-width: 976px;
    margin: auto; }
  #modelos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "modeloNegro modeloNegro" "modeloRojo modeloRojo"; }
  .item.k {
    margin-top: 50px;
    margin-left: 13px; }
  #modelos {
    margin-top: 120px;
    margin-bottom: 500px; }
  .zapa {
    margin-left: 105px; }
  .carru {
    margin-bottom: 30px; }
  .item.c {
    margin-top: 53px; }
    .item.c .ubicacion > h3 {
      text-transform: uppercase;
      font-weight: bolder;
      text-decoration: underline; }
  .item.d {
    margin-top: 150px; }
  #contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 450px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "formulario formulario" "mapa mapa" "newsletter newsletter" "footer footer"; } }

@media (max-width: 776px) {
  body {
    max-width: 776px;
    margin: auto; }
  #modelos {
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "modeloNegro modeloNegro" "modeloRojo modeloRojo"; }
  .item.k {
    margin-top: 50px;
    margin-left: 40px; }
  #contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 450px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "formulario formulario" "mapa mapa" "newsletter newsletter" "footer footer"; } }

@media (max-width: 576px) {
  body {
    max-width: 576px;
    margin: auto; }
  #logo {
    margin-top: 145px; }
  .logoRsp {
    margin-left: 30px; }
  #modelos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "modeloNegro modeloNegro" "modeloRojo modeloRojo"; }
  .item.k {
    margin-top: 50px;
    margin-left: 62px; }
  .item.j {
    margin-left: 50px; }
  .zapa {
    margin-left: 0; }
  .carru {
    margin-left: 21px; }
  .item.f {
    margin-left: 15px; }
  #detalles {
    margin-left: 14px; }
  #contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 450px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "formulario formulario" "mapa mapa" "newsletter newsletter" "footer footer"; } }

@media (max-width: 576px) and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto; }
  #modelos {
    margin-left: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 120px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "modeloNegro modeloNegro" "modeloRojo modeloRojo"; }
  .item.k {
    margin-top: 50px; }
  .logoRs {
    margin-left: -6px;
    margin-top: 150px; }
  .logoRsp {
    margin-left: 75px; }
  .item.i {
    margin-left: 100px; }
  .zapa {
    margin-left: -40px; }
  #descripcion {
    margin-left: 70px; }
  .carru {
    margin-left: 10px; }
  #detalles {
    margin-left: 60px;
    margin-top: 80px; }
  .futon {
    margin-left: 40px; }
  .item.b {
    padding: 0; }
  .item.c {
    margin-top: 30px;
    margin-left: -27px; }
    .item.c .ubicacion > h3 {
      margin-left: 25px;
      text-transform: uppercase;
      font-weight: bolder;
      text-decoration: underline; }
  #contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px 450px;
    grid-auto-rows: 200px;
    grid-template-areas: "titulo titulo" "formulario formulario" "mapa mapa" "newsletter newsletter" "footer footer"; } }
